body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #545454;
}

h1 {
    text-align: center;
    color: #f1b315;
    font-size: 36px;
    margin-bottom: 30px;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #009bdd;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #f1b315;
    padding-bottom: 10px;
}

.input-group, .output-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
    color: #545454;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #009bdd;
    border-radius: 5px;
    font-size: 20px;
    color: #545454;
}

output {
    font-weight: bold;
    color: #009bdd;
    font-size: 20px;
}

.total {
    font-size: 24px;
    font-weight: bold;
    color: #f1b315;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* スマートフォン向けスタイル */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    form {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    label {
        font-size: 15px;
    }

    input[type="number"] {
        font-size: 15px;
    }

    output {
        font-size: 15px;
    }

    .total {
        font-size: 18px;
    }
}