body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #545454;
}

/* Tab Navigation Styles */
#tab-navigation {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #f1b315;
    width: 100%;
    font-size: 20px;
  }
  
  .tab-item {
    flex: 1;
    text-align: center;
  }
  
  .tab-item a {
    display: block;
    padding: 10px 5px;
    background-color: #F7F7F7;
    color: #545454;
    text-decoration: none;
    border: 2px solid #f1b315;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .tab-item:not(:last-child) a {
    border-right: none;
  }
  
  .tab-item a:hover {
    background-color: #F7F7F7;
  }
  
  .tab-item.active a {
    background-color: #f1b315;
    color: white;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .tabs {
      flex-direction: column;
    }
  
    .tab-item {
      width: 100%;
    }
  
    .tab-item a {
      border: 1px solid #f1b315;
      border-radius: 0;
    }
  
    .tab-item:not(:last-child) a {
      border-right: 1px solid #f1b315;
      border-bottom: none;
    }
  }

/* タイトル部分のスタイル */
header h1 {
    text-align: center;
    margin: 20px 0;
    line-height: 1.2;
}

header h1 .large-highlight {
    color: #f1b315;
    font-size: 80px;
    font-weight: bold;
}

header h1 .small-highlight {
    color: #f1b315;
    font-size: 40px;
    font-weight: bold;
}

header h1 .small-text {
    color: #545454;
    font-size: 40px;
    font-weight: bold;
}

header h1 .large-text {
    color: #545454;
    font-size: 80px;
    font-weight: bold;
}



h1 {
    text-align: center;
    color: #f1b315;
    font-size: 40px;
    margin-bottom: 30px;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 600px; /* カードの最大横幅を指定 */
    margin-left: auto; /* 左右中央揃え */
    margin-right: auto; /* 左右中央揃え */
}


h2 {
    color: #009bdd;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #009bdd;
    padding-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.input-group label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    color: #545454;
}

.input-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

input[type="number"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #009bdd;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    color: #545454;
    height: 40px;
    box-sizing: border-box;
}

.unit {
    background-color: #e6f7ff;
    padding: 10px;
    border: 1px solid #009bdd;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    color: #545454;
    display: flex;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
}


.output-group {
    background-color: #e6f7ff;
    border-radius: 5px;
    padding: 10px;
    text-align: right; /* 全体を右寄せ */
    font-size: 20px; /* フォントサイズを20pxに設定 */
}

.output-group div {
    display: inline-block;
    margin-bottom: 10px;
}

.output-wrapper {
    justify-content: flex-end;
}

.output-wrapper .unit {
    background-color: transparent;
    border: none;
    padding: 0;
    height: auto;
    margin-left: 5px;
}

output {
    font-weight: bold;
    color: #009bdd;
    font-size: 40px;
    text-align: right;
}

.output-group.inline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.output-group.inline label {
    margin-right: 10px;
    font-size: 20px; /* ここを20pxに変更 */
    color: #545454;
}

.output-group.inline .output-wrapper {
    display: flex;
    align-items: center;
}

.output-group.inline .output-wrapper .unit {
    font-size: 20px; /* フォントサイズを20pxに設定 */
    font-weight: normal; /* 太字を解除 */
}

.output-group.inline output {
    font-size: 40px;
    color: #009bdd;
    font-weight: bold;
    margin-right: 5px;
}

.output-group.inline .unit {
    font-size: 20px;
    color: #545454;
}

.card.total-expenses {
    background-color: #e6f7ff; /* 薄い青色 */
    border: 2px solid #009bdd; /* 枠線を追加 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影を追加してカードの立体感を出す */
}

.card.total-expenses h2 {
    color: #009bdd;
    margin-bottom: 15px;
    text-shadow: 
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff; /* 白い縁取りを追加 */
}

.card.total-expenses .output-group.total.inline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.card.total-expenses .output-group.total.inline label {
    margin-right: 10px;
    font-size: 30px;
    color: #545454;
    font-weight: bold;
}

.card.total-expenses .output-wrapper {
    display: flex;
    align-items: center;
}

.card.total-expenses .output-group.total.inline + .output-group.inline {
    margin-top: 0; /* 上部のマージンを0にして間隔を狭くする */
}

.card.total-expenses output {
    font-size: 40px;
    color: #009bdd;
    font-weight: bold;
    margin-right: 5px;
    text-shadow: 
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff; /* 白い縁取りを追加 */
}

.card.total-expenses .unit {
    font-size: 30px;
    color: #545454;
    font-weight: bold;
}

label[for="buffer-fund"] {
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 10px;
}

label[for="dream-expenses"] {
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 10px;
}

.output-group.total.inline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.output-group.total.inline label {
    margin-right: 10px;
    font-size: 30px;
    color: #545454;
    white-space: nowrap;
    font-weight: bold;
}

.output-group.total.inline .output-wrapper {
    display: flex;
    align-items: center;
}

.output-group.total.inline output {
    font-size: 40px;
    color: #009bdd;
    font-weight: bold;
    margin-right: 5px;
}

.output-group.total.inline .unit {
    font-size: 30px;
    color: #545454;
    white-space: nowrap;
}

.output-group.inline label[for="monthly-total"] + .output-wrapper .unit {
    font-size: 20px;
    font-weight: normal;
}


/* スマートフォン向けスタイル */
@media (max-width: 600px) {
    .output-group.inline label {
        font-size: 15px;
    }

    .output-group.inline output {
        font-size: 20px;
    }

    .output-group.inline .unit {
        font-size: 15px;
    }
}
/* スマートフォン向けスタイル */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .card {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .input-group label {
        font-size: 15px;
    }
    input[type="number"], .unit {
        height: 36px;
    }

    .input-wrapper .unit {
        font-size: 14px;
        padding: 8px 5px;
    }

    output {
        font-size: 20px;
    }

    .output-group {
        font-size: 15px; /* フォントサイズを20pxに設定 */
    }

    .output-group.inline {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .output-group.inline label {
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
        white-space: nowrap;
    }

    .output-group.inline .output-wrapper {
        display: flex;
        align-items: center;
    }

    .output-group.inline output {
        font-size: 15px;
        font-weight: bold;
        margin-right: 2px;
    }

    .output-group.inline .unit {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
    }
    
    .card.total-expenses .output-group.total.inline {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .card.total-expenses .output-group.total.inline label {
        font-size: 20px;
        font-weight: bold;
        margin-right: 5px;
        white-space: nowrap;
    }

    .card.total-expenses output {
        font-size: 20px;
        font-weight: bold;
        margin-right: 2px;
    }

    .card.total-expenses .unit {
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
    }

    .label[for="buffer-fund"] {
        font-size: 15px;
    }

    .label[for="dream-expenses"] {
        font-size: 15px;
    }

    .output-group.total.inline output {
        font-size: 20px;
        color: #009bdd;
        font-weight: bold;
        margin-right: 5px;
    }
    
    .output-group.total.inline .unit {
        font-size: 15px;
        color: #545454;
        white-space: nowrap;
    }

    /* 月額小計の単位のスタイルを更新（スマートフォンビューのみ） */
    .output-group.inline label[for="monthly-total"] + .output-wrapper .unit {
        font-size: 15px;
        font-weight: bold;
    }


    

}